[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
plotly = "*"
scikit-learn = "==1.0.2"
streamlit = "*"
holidays = "*"

[dev-packages]
nbstripout = "*"
jupyter = "*"
gdown = "*"
statsmodels = "*"

[requires]
python_version = "3.8"
